<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>社説収集</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <div class="main links">
    <ul>
    {{ range .articles }}
        <li class="list">
            <a href="/articles/{{.ID}}">{{.Title}}</a>
            <span class="date">({{.FormattedDate}} {{.MediaName}})</span> 
        </li>
    {{ end }}
    </ul>
    </div>
</body>
</html>